body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #140e96; /* Darker base background for glow effect */
  }
  
  header {
    background-color: #c61414;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #1fa733;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-shadow: 0 0 5px rgba(96, 167, 15, 0.5); /* Text glow */
    box-shadow: 0 0 10px rgba(145, 12, 12, 0.5); /* Button glow */
  }
  
  nav a:hover {
    background-color: rgba(71, 23, 41, 0.2);
  }
  
  main {
    padding: 20px;
  }
  
  main p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #0855ef; /* Darker base background for glow effect */
    box-shadow: 0 0 10px rgba(52, 34, 123, 0.2); /* Section glow */
  }
  
  section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  #portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #portfolio .project {
    width: 300px;
    background-color: #320a26;
    padding: 10px;
    text-align: center;
  }
  
  #portfolio .project h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  