/* Styling for all buttons */
button {
    background-color: #c61414; /* Distinctive primary color */
    color: #fff; /* Clear text contrast */
    border: none; /* Remove default borders */
    border-radius: 10px; /* Softer rounded corners */
    padding: 10px 20px; /* Generous spacing */
    font-size: 16px; /* Readable text size */
    font-weight: bold; /* Assertive appearance */
    cursor: pointer; /* Clear hover indication */
    transition: all 0.2s ease-in-out; /* Smooth transitions */
    text-shadow: 0 0 5px rgba(167, 15, 38, 0.5); /* Glowing text effect */
    box-shadow: 0 0 10px rgba(145, 12, 12, 0.5); /* Glowing button effect */
  }
  
  /* Hover effects for interactive feedback */
  button:hover {
    background-color: #e54e4e; /* Brighter hover color */
    box-shadow: 0 0 15px rgba(145, 12, 12, 0.7); /* Enhanced glow on hover */
  }
  
  /* Active state for visual confirmation */
  button:active {
    transform: scale(0.95); /* Subtle visual feedback */
  }
  

  .contact-list p {
    display: inline-block;
  }

  .contact-title {
    display: inline-block;
  }